body{
    background-color:cornflowerblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 30px;
}

.searchContainer{
    background-color: rgb(176, 206, 235);
    padding: 20px;
    display: flex;
    border-radius: 20px;

}

.searchContainer input{
    width: 250px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid gray;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    
}
.searchContainer input:focus{
    outline: none;
}
.searchContainer button{
    padding: 0px 20px;
    border: 1px solid gray;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
.searchContainer button:hover{
    background-color: darkblue;
    color: white;
    transform: scale(1.0);
    transition: transform ease-in;
}

.card{
    background-color:rgb(176, 206, 235) ;
    padding: 40px;
    border: 1px solid gray;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    width: 800px;
    gap: 10px;

}
.card img{
    width: 300px;
    height: 300px;
    
}

.workoutInfo{
    display: flex;
    flex-direction: column;
    margin: 20px;
    
}
